
	<style>
		.error-msgs li { 
		color: red;
		position:absolute;
		left:0;
		padding:15px;
		list-style-type:none;
		}
		.col-xs-12,.col-sm-6,.col-md-6{
		margin-bottom:35px;
		}
	</style>
	


<div >
	<!-- <form name="sampleForm"> -->
    <!-- <input name="strongSecret" type="text" ng-model="strongSecret" strong-secret required placeholder="Please provide stron secret"> -->
    <!-- <ul class="error-msgs" ng-messages="sampleForm.strongSecret.$error"> -->
        <!-- <li ng-message="invalid">Input must be valid</li> -->
        <!-- <li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li> -->
        <!-- <li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li> -->
        <!-- <li ng-message="validnormal">Add letter after letter "-"</li> -->
    <!-- </ul> -->
<!-- </form> -->



<!-- <script src="angular.min.js"></script> -->
<!-- <script src="angular-messages.min.js"></script> -->

<!-- <script> -->
<!-- angular.module('app', ['ngMessages']); -->
	<!-- angular.module('app').directive('strongSecret', function () { -->
    <!-- return { -->
        <!-- restrict: 'A', -->
        <!-- require: 'ngModel', -->
        <!-- link: function (scope, element, attr, ctrl) { -->
            <!-- function customValidator(ngModelValue) { -->
				<!-- if (/^[a-zA-Z0-9-]+$/.test(ngModelValue)) { -->
                    <!-- ctrl.$setValidity('normal', true); -->
                <!-- } else { -->
                    <!-- ctrl.$setValidity('normal', false); -->
                <!-- } -->
				<!-- if (/[a-zA-Z0-9]+$/.test(ngModelValue)) { -->
                    <!-- ctrl.$setValidity('validnormal', true); -->
                <!-- } else { -->
                    <!-- ctrl.$setValidity('validnormal', false); -->
                <!-- } -->
                <!-- if (ngModelValue.length >= 3 ) { -->
                    <!-- ctrl.$setValidity('threeCharactersValidator', true); -->
                <!-- } else { -->
                    <!-- ctrl.$setValidity('threeCharactersValidator', false); -->
                <!-- } -->
                <!-- return ngModelValue; -->
            <!-- } -->
            <!-- ctrl.$parsers.push(customValidator); -->
        <!-- } -->
    <!-- }; -->
<!-- }); -->
<!-- </script> -->





	<div class="container">
		<div class="row"> 
			<h2 class="sub-header">List of Universities</h2> 
			<div class="form-group">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModalAdd1"><span class="glyphicon glyphicon-plus"></span>Add</button> 
			 </div> 
		 </div> 
	</div> 




	<div class="modal fade container " id="myModalAdd1" role="dialog" > 
		<div class="modal-dialog " ng-directive="strongSecret"> 
			<!-- Modal content-->
			<form name="add">
				<div class="modal-content">
					<div class="modal-header ">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Add University</h4>
					</div>
					<div class="modal-body row" >
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>UniversityID</label>
							<div >
								<input style="width:95%; float:left" type="text" class="form-control" 
								name="strongSecret" id="UniversityID" ng-model="truonghoc.univer_code"  ng-model="strongSecret" strong-secret required><span style="color:red">&nbsp;&#42;</span>
								    <ul class="error-msgs" ng-messages="add.strongSecret.$error">
										<li ng-message="invalid">Input must be valid</li>
										<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
										<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
										<li ng-message="validnormal">Add letter after letter "-"</li>
									</ul>
									<!-- ng-model="truonghoc.univer_code" -->
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Name</label>
							<div>
								<input style="width:95%; float:left" type="text" class="form-control" name="strongSecret1"
									id="strongSecret1" ng-model="truonghoc.univer_name" ng-model="truonghoc.univer_code" ng-model="strongSecret1" strong-secret required><span style="color:red">&nbsp;&#42;</span>
								    <ul class="error-msgs" ng-messages="add.strongSecret1.$error">
										<li ng-message="invalid">Input must be valid</li>
										<li ng-message="normal">Input must be a-z or A-Z or 0-9 or letter " - " </li>
										<li ng-message="threeCharactersValidator">Strong secret has to least 3 characters long</li>
										<li ng-message="validnormal">Add letter after letter "-"</li>
									</ul>									
							</div>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Address</label>
							<textarea style="width:95%" class="form-control" rows="3" id="address_Add" ng-model="truonghoc.univer_address"></textarea>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Contact</label>
							<textarea style="width:95%" class="form-control" rows="3" id="contact_Add" ng-model="truonghoc.contact"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="addtruonghoc()" ><span class="glyphicon glyphicon-plus"></span>Add</button>
					</div>
				</div>
			</form>
		 </div>
	 </div> 
	
	










</div>