<!-- Controller trường học-->
<div ng-controller="truonghoc_ctl">
	<div class="container">
		<div class="row">
			<h2 class="sub-header">University and Colledge Management</h2>
			<div class="form-group">
				<button class="btn btn-primary " data-toggle="modal" data-target="#myModalAdd"><span class="glyphicon glyphicon-plus"></span>Add</button>
			</div>
		</div>
	</div>

	<!-- dataTable content-->
	<table id="data_table" class="display text-center" width="100%" cellspacing="0" datatables="ng">
		<thead>
			<tr>
				<th class="text-center">Index</th>
				<th class="text-center">University Name</th>
				<th class="text-center">University Code</th>
				<th class="text-center">Address</th>
				<th class="text-center">Contact Information</th>
				<th class="text-center">Status</th>
				<th class="text-center">Edit</th>
				<th class="text-center">Remove</th>
			</tr>
		</thead>


		<tbody>
			<!--<tr ng-repeat="truonghoc in truonghoc_list">
				<td>{{$index+1}}</td>
				<td>{{truonghoc.ma_th}}</td>
				<td>{{truonghoc.ten_th}}</td>
				<td>{{truonghoc.diachi}}</td>
				<td>{{truonghoc.thongtin_lienlac}}</td>
				<td ng-if="truonghoc.trangthai =='1'">Active</td>
				<td ng-if="truonghoc.trangthai =='0'">Inactive</td>
				<td><button class="btn btn-warning" data-toggle="modal" data-target="#myModalEdit" ng-click="editt($index)"><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
				<td><button class="btn btn-danger" ng-click="remove(truonghoc.id_th)"><span class="glyphicon glyphicon-remove"></span> Remove</button></td>
			</tr>-->
		</tbody>

		<tfoot>
			<tr>
				<th class="text-center">Index</th>
				<th class="text-center">University Name</th>
				<th class="text-center">University Code</th>
				<th class="text-center">Address</th>
				<th class="text-center">Contact Information</th>
				<th class="text-center">Status</th>
				<th class="text-center">Edit</th>
				<th class="text-center">Remove</th>
			</tr>
		</tfoot>
	</table>



	<!-- Modal Edit content-->
	<div class="modal fade container" id="myModalEdit" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<form name="Edit">
				<div class="modal-content">
					<div class="modal-header ">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Schools</h4>
					</div>
					<div class="modal-body row">
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>University Name</label>
							<input type="text" class="form-control" ng-class="{red: update.ten_th.$invalid}" name="ten_th" id="universityname_Edit" ng-model="edittruonghoc.ten_th"
								required>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>University Code</label>
							<input type="text" class="form-control" ng-class="{red: update.ma_th.$invalid}" minlength="3" maxlength="10" name="ma_th"
								id="universitycode_Edit" ng-pattern="/^[a-zA-Z0-9]+$/" ng-model="edittruonghoc.ma_th" required>
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Address:</label>
							<input type="text" class="form-control" id="address_Edit" ng-model="edittruonghoc.diachi">
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Contact Information</label>
							<input type="text" class="form-control" id="contactinformation_Edit" ng-model="edittruonghoc.thongtin_lienlac">
						</div>
						<div class="form-group col-xs-12 col-sm-6 col-md-6">
							<label>Status</label>
							<div class="radio">
								<label>
											<input type="radio" ng-model="edittruonghoc.trangthai" value="1" ng-checked="edittruonghoc.trangthai == '1'">
											Active
										</label>
							</div>
							<div class="radio">
								<label>
											<input type="radio" ng-model="edittruonghoc.trangthai" value="0" ng-checked="edittruonghoc.trangthai == '0'">
											Inactive
										</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updatetruonghoc()" ng-disabled="!update.$dirty || (update.$dirty && update.$invalid)">Update</button>
					</div>
				</div>
			</form>
		</div>
	</div>


</div>




<!-- Modal Add content-->
<div class="modal fade container " id="myModalAdd" role="dialog">
	<div class="modal-dialog ">
		<!-- Modal content-->
		<form name="add">
			<div class="modal-content">
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Schools</h4>
				</div>
				<div class="modal-body row">
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label>University Name</label>
						<input type="text" class="form-control" ng-class="{red: add.ten_th.$invalid}" name="ten_th" id="universityname_Add" ng-model="truonghoc.ten_th"
							required>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label>University Code</label>
						<input type="text" class="form-control" ng-class="{red: add.ma_th.$invalid}" minlength="3" maxlength="10" name="ma_th" id="universitycode_Add"
							ng-pattern="/^[a-zA-Z0-9]+$/" ng-model="truonghoc.ma_th" required>
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label>Address:</label>
						<input type="text" class="form-control" id="address_Add" ng-model="truonghoc.diachi">
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label>Contact Information</label>
						<input type="text" class="form-control" id="contactinformation_Add" ng-model="truonghoc.thongtin_lienlac">
					</div>
					<div class="form-group col-xs-12 col-sm-6 col-md-6">
						<label>Status</label>
						<div class="radio">
							<label>
										<input type="radio" ng-model="truonghoc.trangthai" value="1" ng-checked="true">
										Active
									</label>
						</div>
						<div class="radio">
							<label>
										<input type="radio" ng-model="truonghoc.trangthai" value="0">
										Inactive
									</label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addtruonghoc()" ng-disabled="!add.$dirty || (add.$dirty && add.$invalid)">Add</button>
				</div>
			</div>
		</form>
	</div>
</div>










